body {
  margin: 0;
  font-family:  'Space Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  'Space Mono', monospace;
}


.sk-card {
  margin: 20px;

}

.sk-card-image {
  border-radius: 10px;
  width: 300px;
  height:480px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.sk-card-info {
  margin-top: 10px;
  min-height: 100px;
  
}


.sk-card-title {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;

}

.sk-card-sub-title {
  font-weight: '';
  font-size: 16px;
  color: red;
  margin: 0px;

}